* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 50px 0 50px;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

section {
    display: flex;
    margin-top: 3vh;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}

#skills {
    align-items: flex-start;
}

#list {
    list-style: none;
}

